    <footer>
        <div class="fixed-container">
            <div class="test1">
                <div class="test2">
                    <a href="/ru/shop/products" class="myheader">Все продукты</a>
                    <a href="/ru/shop/orders" class="myheader">Все заказы</a>
                    <a href="/ru/accounts/register/" class="myheader">Регистрация</a>
                </div>

                <div class="test2">
                    <a href="/ru/accounts/about-me/" class="myheader">Мой профиль</a>
                    <a href="/ru/new_blog/articles/" class="myheader">Статьи</a>
                    <a href="/api/schema/swagger#/" class="myheader">Моё API</a>
                </div>

                <div class="test2">
                    <a href="mailto:info@example.com">name_sasha@mail.ru</a>
                    <span>+7 965 *** 95 **</span>
                </div>

                <div class="test2">
                <span>Мои соцсети:</span>
                    <div class="test1">
                        <div>
                            <a href="https://github.com/Bahalwik">GitHub</a>
                        </div>
                        <div>
                            <a href="https://t.me/Bahalwik">Telegram</a>
                        </div>
                        <div>
                            <a href="https://vk.com/id19765723">VK</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>